<!DOCTYPE html>
<html>
  <head>
    <title>add card</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/add_card/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/add_card/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u175" class="ax_default box_1">
        <div id="u175_div" class=""></div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u176" class="ax_default box_1">
        <div id="u176_div" class=""></div>
        <div id="u176_text" class="text ">
          <p><span>Payment List:</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u177" class="ax_default" data-left="183" data-top="215" data-width="375" data-height="50">

        <!-- Unnamed (Rectangle) -->
        <div id="u178" class="ax_default box_1">
          <div id="u178_div" class=""></div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u179" class="ax_default box_1">
          <div id="u179_div" class=""></div>
          <div id="u179_text" class="text ">
            <p><span>Visa</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u180" class="ax_default" data-left="183" data-top="263" data-width="375" data-height="50">

        <!-- Unnamed (Rectangle) -->
        <div id="u181" class="ax_default box_1">
          <div id="u181_div" class=""></div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u182" class="ax_default icon">
          <img id="u182_img" class="img " src="images/first_default_page/u58.png"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u183" class="ax_default box_1">
          <div id="u183_div" class=""></div>
          <div id="u183_text" class="text ">
            <p><span>Master</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u184" class="ax_default" data-left="183" data-top="312" data-width="375" data-height="50">

        <!-- Unnamed (Rectangle) -->
        <div id="u185" class="ax_default box_1">
          <div id="u185_div" class=""></div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u186" class="ax_default icon">
          <img id="u186_img" class="img " src="images/first_default_page/u58.png"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u187" class="ax_default box_1">
          <div id="u187_div" class=""></div>
          <div id="u187_text" class="text ">
            <p><span>Mada</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u188" class="ax_default icon">
        <img id="u188_img" class="img " src="images/first_default_page/u58.png"/>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u189" class="ax_default" data-left="183" data-top="362" data-width="375" data-height="50">

        <!-- Unnamed (Rectangle) -->
        <div id="u190" class="ax_default box_1">
          <div id="u190_div" class=""></div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u191" class="ax_default box_1">
          <div id="u191_div" class=""></div>
          <div id="u191_text" class="text ">
            <p><span>Knet</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u192" class="ax_default" data-left="183" data-top="410" data-width="375" data-height="50">

        <!-- Unnamed (Rectangle) -->
        <div id="u193" class="ax_default box_1">
          <div id="u193_div" class=""></div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u194" class="ax_default icon">
          <img id="u194_img" class="img " src="images/first_default_page/u58.png"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u195" class="ax_default box_1">
          <div id="u195_div" class=""></div>
          <div id="u195_text" class="text ">
            <p><span>Paypal</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u196" class="ax_default box_2">
        <div id="u196_div" class=""></div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u197" class="ax_default" data-left="183" data-top="459" data-width="375" data-height="50">

        <!-- Unnamed (Rectangle) -->
        <div id="u198" class="ax_default box_1">
          <div id="u198_div" class=""></div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u199" class="ax_default icon">
          <img id="u199_img" class="img " src="images/first_default_page/u58.png"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u200" class="ax_default box_1">
          <div id="u200_div" class=""></div>
          <div id="u200_text" class="text ">
            <p><span>Naps</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u201" class="ax_default icon">
        <img id="u201_img" class="img " src="images/bind_card/u22.png"/>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u202" class="ax_default icon">
        <img id="u202_img" class="img " src="images/first_default_page/u58.png"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u203" class="ax_default label">
        <div id="u203_div" class=""></div>
        <div id="u203_text" class="text ">
          <p><span>Add Bank Card&nbsp; </span></p>
        </div>
      </div>
    </div>
  </body>
</html>
