<!DOCTYPE html>
<html>
  <head>
    <title>Card Management</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/card_management/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/card_management/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u114" class="ax_default box_1">
        <div id="u114_div" class=""></div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u115" class="ax_default" data-left="183" data-top="170" data-width="375" data-height="56">

        <!-- Unnamed (Rectangle) -->
        <div id="u116" class="ax_default box_1">
          <div id="u116_div" class=""></div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u117" class="ax_default box_1">
          <div id="u117_div" class=""></div>
          <div id="u117_text" class="text ">
            <p><span>Visa Card&nbsp; 888888......8888</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u118" class="ax_default" data-left="183" data-top="218" data-width="375" data-height="50">

        <!-- Unnamed (Rectangle) -->
        <div id="u119" class="ax_default box_1">
          <div id="u119_div" class=""></div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u120" class="ax_default box_1">
          <div id="u120_div" class=""></div>
          <div id="u120_text" class="text ">
            <p><span>Master Card 777777......7777</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u121" class="ax_default" data-left="183" data-top="267" data-width="375" data-height="50">

        <!-- Unnamed (Rectangle) -->
        <div id="u122" class="ax_default box_1">
          <div id="u122_div" class=""></div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u123" class="ax_default box_1">
          <div id="u123_div" class=""></div>
          <div id="u123_text" class="text ">
            <p><span>Mada&nbsp;&nbsp; Card 666666......6666</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u124" class="ax_default" data-left="183" data-top="315" data-width="375" data-height="52">

        <!-- Unnamed (Rectangle) -->
        <div id="u125" class="ax_default box_1">
          <div id="u125_div" class=""></div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u126" class="ax_default box_1">
          <div id="u126_div" class=""></div>
          <div id="u126_text" class="text ">
            <p><span>Knet&nbsp;&nbsp; Card 666666......6666</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u127" class="ax_default" data-left="183" data-top="365" data-width="375" data-height="50">

        <!-- Unnamed (Rectangle) -->
        <div id="u128" class="ax_default box_1">
          <div id="u128_div" class=""></div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u129" class="ax_default box_1">
          <div id="u129_div" class=""></div>
          <div id="u129_text" class="text ">
            <p><span>Mada&nbsp; Card 666666......6666</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u130" class="ax_default box_2">
        <div id="u130_div" class=""></div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u131" class="ax_default icon">
        <img id="u131_img" class="img " src="images/bind_card/u22.png"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u132" class="ax_default label">
        <div id="u132_div" class=""></div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u133" class="ax_default icon">
        <img id="u133_img" class="img " src="images/card_management/u133.png"/>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u134" class="ax_default icon">
        <img id="u134_img" class="img " src="images/card_management/u133.png"/>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u135" class="ax_default icon">
        <img id="u135_img" class="img " src="images/card_management/u133.png"/>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u136" class="ax_default icon">
        <img id="u136_img" class="img " src="images/card_management/u133.png"/>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u137" class="ax_default icon">
        <img id="u137_img" class="img " src="images/card_management/u133.png"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u138" class="ax_default primary_button">
        <div id="u138_div" class=""></div>
        <div id="u138_text" class="text ">
          <p><span>Add&nbsp; Bank&nbsp; Card</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u139" class="ax_default icon">
        <img id="u139_img" class="img " src="images/card_management/u139.png"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u140" class="ax_default label">
        <div id="u140_div" class=""></div>
        <div id="u140_text" class="text ">
          <p><span>Bank Cards</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u141" class="ax_default label">
        <div id="u141_div" class=""></div>
        <div id="u141_text" class="text ">
          <p><span>delete card</span></p>
        </div>
      </div>

      <!-- Unnamed (Horizontal Line) -->
      <div id="u142" class="ax_default line">
        <img id="u142_img" class="img " src="images/card_management/u142.png"/>
      </div>
    </div>
  </body>
</html>
