<!DOCTYPE html>
<html>
  <head>
    <title>pay success</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/pay_success/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/pay_success/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u41" class="ax_default box_1">
        <div id="u41_div" class=""></div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u42" class="ax_default box_2">
        <div id="u42_div" class=""></div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u43" class="ax_default primary_button">
        <div id="u43_div" class=""></div>
        <div id="u43_text" class="text ">
          <p><span>EXIT</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u44" class="ax_default label">
        <div id="u44_div" class=""></div>
        <div id="u44_text" class="text ">
          <p><span>Bank Card Detail Information</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u45" class="ax_default label">
        <div id="u45_div" class=""></div>
        <div id="u45_text" class="text ">
          <p><span>Merchant Name ：XXXXXX</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u46" class="ax_default label">
        <div id="u46_div" class=""></div>
        <div id="u46_text" class="text ">
          <p><span>$&nbsp; &nbsp; &nbsp; </span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u47" class="ax_default label">
        <div id="u47_div" class=""></div>
        <div id="u47_text" class="text ">
          <p><span>1000.00&nbsp; &nbsp; </span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u48" class="ax_default label">
        <div id="u48_div" class=""></div>
        <div id="u48_text" class="text ">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; SUCCESS</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u49" class="ax_default icon">
        <img id="u49_img" class="img " src="images/pay_success/u49.png"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u50" class="ax_default label">
        <div id="u50_div" class=""></div>
        <div id="u50_text" class="text ">
          <p><span>返回商家界面</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
