<!DOCTYPE html>
<html>
  <head>
    <title>transactions</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/transactions/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/transactions/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u143" class="ax_default box_1">
        <div id="u143_div" class=""></div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u144" class="ax_default label">
        <div id="u144_div" class=""></div>
        <div id="u144_text" class="text ">
          <p><span>Mena Mobile Pay Checkout</span></p>
        </div>
      </div>

      <!-- Unnamed (Table) -->
      <div id="u145" class="ax_default">

        <!-- Unnamed (Table Cell) -->
        <div id="u146" class="ax_default box_1">
          <img id="u146_img" class="img " src="images/transactions/u146.png"/>
          <div id="u146_text" class="text ">
            <p><span>Order ID</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u147" class="ax_default box_1">
          <img id="u147_img" class="img " src="images/transactions/u147.png"/>
          <div id="u147_text" class="text ">
            <p><span>Date</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u148" class="ax_default box_1">
          <img id="u148_img" class="img " src="images/transactions/u148.png"/>
          <div id="u148_text" class="text ">
            <p><span>item</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u149" class="ax_default box_1">
          <img id="u149_img" class="img " src="images/transactions/u149.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u150" class="ax_default box_1">
          <img id="u150_img" class="img " src="images/transactions/u150.png"/>
          <div id="u150_text" class="text ">
            <p><span>mm/dd/yy time</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u151" class="ax_default box_1">
          <img id="u151_img" class="img " src="images/transactions/u151.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u152" class="ax_default box_1">
          <img id="u152_img" class="img " src="images/transactions/u149.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u153" class="ax_default box_1">
          <img id="u153_img" class="img " src="images/transactions/u150.png"/>
          <div id="u153_text" class="text ">
            <p><span>mm/dd/yy time</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u154" class="ax_default box_1">
          <img id="u154_img" class="img " src="images/transactions/u151.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u155" class="ax_default box_1">
          <img id="u155_img" class="img " src="images/transactions/u149.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u156" class="ax_default box_1">
          <img id="u156_img" class="img " src="images/transactions/u150.png"/>
          <div id="u156_text" class="text ">
            <p><span>mm/dd/yy time</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u157" class="ax_default box_1">
          <img id="u157_img" class="img " src="images/transactions/u151.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u158" class="ax_default box_1">
          <img id="u158_img" class="img " src="images/transactions/u149.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u159" class="ax_default box_1">
          <img id="u159_img" class="img " src="images/transactions/u150.png"/>
          <div id="u159_text" class="text ">
            <p><span>mm/dd/yy time</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u160" class="ax_default box_1">
          <img id="u160_img" class="img " src="images/transactions/u151.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u161" class="ax_default box_1">
          <img id="u161_img" class="img " src="images/transactions/u149.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u162" class="ax_default box_1">
          <img id="u162_img" class="img " src="images/transactions/u150.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u163" class="ax_default box_1">
          <img id="u163_img" class="img " src="images/transactions/u151.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u164" class="ax_default box_1">
          <img id="u164_img" class="img " src="images/transactions/u164.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u165" class="ax_default box_1">
          <img id="u165_img" class="img " src="images/transactions/u165.png"/>
          <div id="u165_text" class="text ">
            <p><span>mm/dd/yy time</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u166" class="ax_default box_1">
          <img id="u166_img" class="img " src="images/transactions/u166.png"/>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u167" class="ax_default box_2">
        <div id="u167_div" class=""></div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u168" class="ax_default icon">
        <img id="u168_img" class="img " src="images/bind_card/u22.png"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u169" class="ax_default label">
        <div id="u169_div" class=""></div>
        <div id="u169_text" class="text ">
          <p><span>Transactions</span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u170" class="ax_default droplist">
        <select id="u170_input">
          <option selected value="2020">2020</option>
          <option value="2019">2019</option>
          <option value="2018">2018</option>
          <option value="2017">2017</option>
        </select>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u171" class="ax_default droplist">
        <select id="u171_input">
          <option value="1">1</option>
          <option selected value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u172" class="ax_default label">
        <div id="u172_div" class=""></div>
        <div id="u172_text" class="text ">
          <p><span>year</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u173" class="ax_default label">
        <div id="u173_div" class=""></div>
        <div id="u173_text" class="text ">
          <p><span>month</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u174" class="ax_default label">
        <div id="u174_div" class=""></div>
        <div id="u174_text" class="text ">
          <p><span>Display the latest data&nbsp; for one month when form </span></p><p><span>just has been loaded.&nbsp; </span></p>
        </div>
      </div>
    </div>
  </body>
</html>
